@charset "utf-8";
/* CSS Document */
body {
    margin: 0;
	font-family: "YuGothic", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", verdana, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
}
a{
	color: black;
	text-decoration: none;
}
a:hover{	
  opacity: 0.7;
}
img{
	width: 100%;
	vertical-align: bottom;
}
ul{
	padding-left: 0px;
}
li{
	list-style-type: none;
	float: left;
}
.pc-only {
	display: block;
}
.pc-tab-only {
	display: block;
}
.tab-sp-only {
	display: none;
}
.sp-only {
	display: none;
}

/* header */
#header-area{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
    background: white;
    padding-top: 15px;
    padding-bottom: 15px;
}
h1{
	margin: 0px;
	float: left;
	width: 50%;
}
#header-logo{
    display: inline-block;  /* インラインブロック化 */
    vertical-align: middle; /* 中央を揃える */
}
	#header-logo img {
	max-height: 50px;
	max-width: 50px;}
#header-title{
	font-size: 1rem;
	letter-spacing: 1.5px;
 font-family: "M PLUS 1p"; 
    display: inline-block;  /* インラインブロック化 */
    vertical-align: middle; /* 中央を揃える */
	text-align: center;
}
#header-title-eng{
	font-family: 'Josefin Slab', serif;
	font-size: 0.5rem;}
/* navi */
nav{
	text-align: right;
font-family: 'Josefin Sans', sans-serif;
}
#nav-pc{
    display: inline-block;  /* インラインブロック化 */
    vertical-align: middle; /* 中央を揃える */
	text-align: right;
    font-size: 1.2rem;}
#nav-pc li{
	margin-left: 20px;
	margin-right: 15px;
}
#nav-pc li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
#nav-pc li a:hover{
  opacity: 1;
}
#nav-pc li a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background:rgba(255,243,149,1.00);
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .6s;
}
#nav-pc li a:hover::after {
	transform: scale(1, 1);}
#nav-sp {
  position: relative;
    margin-top: 17px;
    margin-right: 12px;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: #555;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

/*中身*/
#nav-content {
	display: none;
position: fixed;
    top: 80px;
    right: 0;
    width: 100%;
    z-index: 99999;
    max-height: calc(100vh - 60px);
    overflow-y: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px 10px 20px;
    background-color:rgba(255,255,255,1.00);
    font-weight: bold;
    -webkit-overflow-scrolling: touch;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: rgba(255,207,121,1.00);}

/*チェックが入ったらもろもろ表示*/

#nav-input:checked ~ #nav-open span{
    transform: translateY(12px) rotate(-45deg);
}
#nav-input:checked ~ #nav-open span:before{
  opacity: 0;
}
#nav-input:checked ~ #nav-open span:after {
    transform: translateX(-10px) rotate(90deg);
    bottom: 0px;
    left: 10px;
}
#nav-input:checked ~ #nav-content {
-webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: all 500ms;
    transition: all 500ms;
    opacity: 1;
    height: calc(100vh - 60px);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 300px;
    padding-left: 10px;
	padding-right: 10px;
}
#nav-content li{
    float: none;
    margin: 5px;
    text-align: left;
    border-bottom: dotted;
    border-width: 1px;
  border-bottom-color:rgba(255,243,149,1.00);
}
#nav-content li a{
	display: block;
    margin: 20px 10px 10px 10px;
	font-size: 1.5rem; 
}
#contents{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

/* main-img */
.slick-prev, .slick-next {
    z-index: 100;
}
.slick-prev::before, .slick-next::before {
    font-size: 24px;
}
.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}
.fade-text{	
  position: absolute;
	letter-spacing: 1.5px;
  left: 0%;
	bottom: 0%;
	width: 100%;
	  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.57));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.57));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.57)); 
}
.fade-text span{
	padding: 40px 10px 10px 10px;
	display: block;
	color: white;
}
/* contents-area */
#contents-area{
	margin-top: 30px;
	overflow: hidden;
}
.contents-title{	
    font-size: 1.2rem;
font-family: 'Josefin Sans', sans-serif;
}
/* left */
#contents-left{
	float: left;
	width: 70%;
 font-family: "M PLUS 1p"; 
}
.grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:flex;
    margin-bottom: 20px;
	padding: 2px;
	
}
.grid.-col2 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.grid.-col2 .grid__item {
    width: calc(50% - 5px);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.25);
  display: inline-block;
  margin: 0 0 1em;
  cursor: pointer;
  transition: all 0.3s ease 0s;
	padding-bottom: 5px;
    font-size: 0.9rem;
	    line-height: 1.3rem;
    letter-spacing: 2.4px;
}
.grid__item a{
	margin: 15px;
	display: block;
}

.grid.-col2 .grid__item:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-0.1875em);
}
.pick-up-blog, .pick-up-photo, .pick-up-recommend{
	color: white;
	padding: 2px 10px;
    font-size: 0.5rem;
	font-weight: bold;
	line-height: 0.8rem;
	margin-top: 10px;
    margin-bottom: 4px;
	display: inline-block;
	}
.pick-up-blog{
	background-color:rgba(82,177,11,1.00);}
.pick-up-photo{
	background-color:rgba(30,98,212,1.00);}
.pick-up-recommend{
	background-color:rgba(255,84,87,1.00);
}
.btn-list{
	overflow: hidden;
	text-align: center;
}
.btn-list-text{
	margin-bottom: 15px;
    font-size: 0.9rem;
    letter-spacing: 2.4px;
}
.btn-list ul {
	text-align: center;
    margin-left: auto;
    margin-right: auto;
	display: inline-block;
    margin-top: 0px;}
.btn-list li{
	    min-width: 150px;
	margin: 0px 5px;
	padding: 10px 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
    font-size: 0.9rem;
	line-height: 1.5rem;
	letter-spacing: 1.5px;
}
.btn-list a {	
	color: white;
	display: block;
}
.btn-list li:hover{
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-0.1em);
}
.btn-list-blog{
	background-color:rgba(82,177,11,1.00);}
.btn-list-photo{
	background-color:rgba(30,98,212,1.00);}
.btn-list-recommend{
	background-color:rgba(255,84,87,1.00);
}
/* right */

#contents-right{
	float: right;
	width: 27%;
}
#right-profile{
	overflow: hidden;
	margin-bottom: 30px;
}
.prof-text{	
	font-family: "M PLUS 1p";
	margin-top: 15px;
	width: 68%;
	float: left;
    font-size: 0.9rem;
	line-height: 1.1rem;
	letter-spacing: 1.1px;}
.prof-img{
	float: right;
	width: 30%;
	margin-top: 15px;
	margin-bottom: 15px;
}
.prof-img img{
	border-radius: 50%; }
.btn-text{
	text-align: center;
	clear: both;
	font-family: "M PLUS 1p";
    font-size: 0.9rem;
}
#right-ad-list{
	margin-top: 15px;
}

/* footer */
#footer-contetns{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 15px;
	text-align: center;
}
#footer-list{
	font-size: 0.8rem;
    line-height: 0.9rem;
	overflow: hidden;
}
#footer-list ul{
	margin-left: auto;
	margin-right: auto; 
    display: inline-block;
	margin-bottom: 0px;
	margin-top: 0px;
}
#footer-list li{
	margin-left: 10px;
	margin-right: 10px;
}

/* page-top */
#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 60px;
  bottom: 60px;
  background:rgba(255,179,0,1.00);
  opacity: 0.6;
  border-radius: 50%;
}
#page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
  text-align: center;
}
#page_top a::before{
  font-family: "Font Awesome 5 Free";
  content: '\f106';
  font-weight: 900;
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 10px;
  bottom: 10px;
  right: 0;
  left: 0;
  margin: auto;
}

/* tablet */
@media screen and (max-width: 1000px) {
	img {
	vertical-align: middle;}
#header-area {
    width: 100%;
}
h1 {
    width: 40%;
}
	#contents {
		width: 100%;}
	#contents-area{
	width: 98%;
	margin-left: auto;
	margin-right: auto;
		
	}
	#footer-contetns {
		width: 100%;}
}
/* sp */
@media screen and (max-width: 674px) {
.pc-only {
	display: none!important;
}
.pc-tab-only {
	display: block!important;
}
.tab-sp-only {
	display: block!important;
}
.sp-only {
	display: none!important;
}
	#header-area{opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
-webkit-transition: 500ms;
    transition: 500ms;
position: fixed;
    z-index: 99;
	}
h1 {
    width: 85%;
	}	
	nav {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* position: fixed; */
    top: 0;
    z-index: 1001;
    position: static;
    width: 100%;
    height: 60px;
    background-color: #fff;
    -webkit-transition: 500ms;
    transition: 500ms;
}
	#contents{
    padding-top: 83px;}
	#contents-area {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
	}
	
	.fade-text span {
    padding: 5px;
    font-size: 0.4rem;
}
	.slick-prev::before, .slick-next::before {
    font-size: 25px;
    width: 25px;
    height: 25px;
}
.slick-prev, .slick-next {
    width: 25px;
    height: 25px;
}
.slick-prev {
    left: 5px;
}
.slick-next {
    right: 5px;
}
#contents-left {	
    overflow: hidden;
    float: none;
	width: 100%;}
#contents-right {
    overflow: hidden;
    float: none;
	margin-top: 30px;
	width: 100%;	
}
.grid.-col2  {
    display: block;
    overflow: hidden;
}
.grid.-col2  .grid__item:first-child {
    margin-right: auto;
}
.grid.-col2 .grid__item  {
    width: 100%;
    max-width: 100%;
    margin: 0 auto 10px;
}
	.pick-up-blog, .pick-up-photo, .pick-up-recommend {
    padding: 5px 10px;
	font-size: 0.8rem;}
.btn-list li {
    min-width: 80px;
    margin: 0px 1px;
    font-size: 0.8rem;
}
	#footer-contetns {
	font-size: 0.6rem;
		width: 100%;}
	#footer-list {
	font-size: 0.6rem;}
#right-profile{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

#right-ad{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}
	#page_top {
    right: 10px;
    bottom: 40px;
}
}